:root {
  --accent: #ffd479;

  --font-base: "Roboto", sans-serif;
  --font-accent: "Bebas Neue", sans-serif;
}

body {
  background-color: #1f2a32;
  color: #fafaf5;

  font-family: var(--font-base);
  font-weight: 300;
}

a {
  color: #fafaf5;
}

/* .titile_1 {
  color: var(--accent);
  font-family: var(--font-accent);
  font-weight: 700;
} */

.container {
  margin: 0 auto;
  padding: 0 15px;

  max-width: 1200px;
  width: 100%;
}

.container-contact {
  max-width: 615px;
}
